xng-breadcrumb {
    font-size: 20px;
    padding: 10px;
}

::ng-deep .breadcrumb {
    background-color: rgb(36, 35, 34);
    border: 1px solid black;
    font-size: 30px;
  }

  ::ng-deep .current-path {
    background-color: rgb(36, 35, 34);
    border: 1px solid;
  }

  .kk {
    color: red;
  }

  .xng-breadcrumb-root {
    padding: 8px 16px;
    display: inline-block;
    border-radius: 4px;
    background-color: #e7f1f1;
  }
  
  .xng-breadcrumb-separator {
    padding: 0 4px;
  }