.clickSearch {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    transform: translate(-50%,-50%);
    font-size: 250px;
    height: 240px;
    width: 240px;
    color: rgb(226, 221, 221);
    opacity: 0.3;
}

// ::ng-deep .mat-form-field-flex {
//     padding: 0 10px;
//     border: 0 !important
//   }
  
  mat-form-field {
    font-size: 14px;
    width: 100%;
    .searchIcon {
        font-size: 21px;
        margin: 0;
        padding-right: 0;
    }
  }


  table {
    position: relative;
    top: -20px;
  }