<div class="container">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="firstPart">
            <div class="header">გაიარეთ ავტორიზაცია</div>
            <div class="search">
                <input class="searchInput" [ngClass]="{'normalBorder': !loginForm.get('token')?.touched && !loginForm.get('token')?.errors?.['required'],'red': loginForm.get('token')?.touched && loginForm.get('token')?.errors?.['required']}" formControlName="token" placeholder="შეიყვანეთ წვდომის ტოკენი" type="text"
                    name="search">
                <mat-icon matPrefix class="searchIcon">account_circle</mat-icon>
                <mat-hint style="color:red;"
                    *ngIf="loginForm.get('token')?.touched && loginForm.get('token')?.errors?.['required']">
                    შეიყვანეთ წვდომის ტოკენი
                </mat-hint>
            </div>
        </div>
        <div class="buttonDiv">
            <button mat-raised-button color="accent" type="submit">შესვლა</button>
        </div>
    </form>
</div>