<div class="container">
    <mat-card class="card1">
        <div class="search">
            <mat-form-field>
                <mat-icon matPrefix class="searchIcon">search</mat-icon>
                <input [placeholder]="'მოძებნე ' + type" matInput name="search">
                <mat-icon class="sortIcon" matSuffix>sort</mat-icon>
            </mat-form-field>
        </div>
        <div class="addGroup">
            <mat-icon>add</mat-icon>
            <p>{{'დაამატე ახალი ' + type}}</p>
        </div>
        <div class="appsList">
            <div class="app" *ngFor="let item of listData" (click)="openTable()">
              <p (click)="getClients(item.id,0,10,searchQuery)">{{item.name}}</p>
              <span><mat-icon class="morevertIcon">more_vert</mat-icon></span>
            </div>
          </div>
    </mat-card>
    <mat-card class="card2">
        <mat-icon *ngIf="!tableData" class="clickSearch">search</mat-icon>
        <div  *ngIf="!tableData" class="clickClient">აპლიკაციის სანახავად გთხოვთ მონიშნოთ ერთი კლიენტი</div>
        <!-- <router-outlet></router-outlet> -->
        <app-reusable-table [pageSizeOptions]="pageSizeOptions" (search)="search($event)" (pageChange)="pageChange($event)" [paging]="paging" [tableHeaders]="tableHeaders" [tableColumns]="tableColumns"
        [tableData]="tableData"></app-reusable-table>
    </mat-card>
</div>