<div class="mainContainer">
    <div  class="firstContainer">
        <div class="clients">
            <app-data-count-card (click)="openList('apps')" [amount]="apps" [cardTitle]="'აპლიკაციები'"></app-data-count-card>
            <app-data-count-card (click)="openList('clients')" [amount]="clients" [cardTitle]="'კლიენტები'"></app-data-count-card>
            <app-data-count-card (click)="openList('users')" [amount]="users" [cardTitle]="'მომხმარებლები'"></app-data-count-card>
        </div>
    </div>
    <div class="hr"></div>
    <div class="secondContainer">
        <div class="settings">
            <app-settings-card [cardTitle]="'პარამეტრები'"></app-settings-card>
            <app-settings-card [cardTitle]="'მონიტორინგი'"></app-settings-card>
        </div>
    </div>
</div>