.card2 {
    height: 100%;
    width: 700px;
    border: 1px solid rgb(233, 233, 233);
   }

// .clickClient {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 700px;
//     transform: translate(-50%,0);
//     text-align: center;
//     font-family: 'Noto Sans Georgian SemCond ExtBd';
//     font-size: 20px;
//     color: #e1dede;
//     opacity: 0.5;
// }

.clickSearch {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    transform: translate(-50%,-50%);
    font-size: 250px;
    height: 240px;
    width: 240px;
    color: rgb(226, 221, 221);
    opacity: 0.3;
}

.clickClient {
    position: absolute;
        top: 50%;
        left: 50%;
            width: 700px;
            transform: translate(-50%,0);
            text-align: center;
            font-family: 'Noto Sans Georgian SemCond ExtBd';
            font-size: 20px;
            color: #e1dede;
            opacity: 0.5;
}