<mat-toolbar color="primary" class="toolbar-cont">
    <div class="toolbar-actions">
        <div>UM</div>
        <div *ngIf="UsernameAndSearch" class="search">
            <mat-icon matPrefix class="searchIcon">search</mat-icon>
            <input placeholder="search" class="searchInput" name="search">
            <mat-icon class="menuIcon" matSuffix>menu</mat-icon>
        </div>
        <div *ngIf="UsernameAndSearch" class="userName">
            <div>user fullname</div>
            <mat-icon class="accIcon">account_circle</mat-icon>
        </div>
    </div>
</mat-toolbar>