<div class="mainContainer">
    <div class="firstContainer">
        <div class="clients">
            <app-clients [amount]="'12sss3'" [cardTitle]="'აპლიკაციები'"></app-clients>
            <app-clients [amount]="'1543'" [cardTitle]="'კლიენტები'"></app-clients>
            <app-clients [amount]="'12412'" [cardTitle]="'მომხმარებლები'"></app-clients>
        </div>
    </div>
    <div class="hr"></div>
    <div class="secondContainer">
        <div class="settings">
            <app-settings-card [cardTitle]="'პარამეტრები'"></app-settings-card>
            <app-settings-card [cardTitle]="'მონიტორინგი'"></app-settings-card>
        </div>
    </div>
</div>